.DS_Store
node_modules
.worktrees
.sst
.env
.env.local
.idea
.vscode
*~
playground
tmp
dist
ts-dist
.turbo
**/.serena
.serena/
**/.omo
.omo/
/result
refs
Session.vim
opencode.json
a.out
target
.scripts
.direnv/

# Local dev files
opencode-dev
logs/
*.bun-build

# Agent
.agent
packages/opencode/assets/models.last_updated
packages/opencode/src/provider/models-snapshot.js
packages/opencode/src/provider/models-snapshot.d.ts
